<div class="row d-flex justify-content-center align-items-center mt-2">
    <img src="assets/images/logo_banco_grande.png" style="width: 20%; height: 20%">
</div>
<div class="row d-flex justify-content-center align-items-center mt-3">
    <div class="col-md-4 text-center">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <mat-form-field style="width: 100%;">
                    <input formControlName="usuario" matInput placeholder="Usuario" required>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;">
                    <input formControlName="password" matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="form-group">
                <button mat-flat-button color="primary">Iniciar Sesión</button>
            </div>
            <mat-divider></mat-divider>
            <div class="form-group">
                <a [routerLink]="['/forgot']" routerLinkActive="router-link-active"  style="font-size:15px;">Olvidé mi contraseña</a>
            </div>
        </form>
    </div>
</div>
<footer class="page-footer font-small blue pt-4">
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://portal.socio.gs/gs/">Portal Socio</a>
    </div>
</footer>