<div fxLayout="row" fxLayoutGap="5%" fxLayout.sm="column" fxLayout.xs="column">
  <mat-card fxFlex="20%" fxFlex.sm="100%" fxFlex.xs="100%" *ngFor="let card of cardsItems">
    <mat-card-header>
      <mat-card-title>{{ card.title }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ card.image }}">
    <mat-card-content>
      <label for="matRadioGroup">Elija una opción: </label>
      <mat-radio-group id="matRadioGroup" fxLayout="column" [(ngModel)]="option">
        <mat-radio-button *ngFor="let option of card.options" [value]="option" (click)="openDialog(option, card)">
          {{option.name}}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
    <div>{{option.name}}</div>
    <mat-card-actions fxLayoutAlign="center center">
      <button color="primary" mat-button>
        <mat-icon>save</mat-icon>
          Guardar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
