<!-- CUANDO SE CARGA PARA EL LOGIN -->
<mat-list  fxLayout fxLayoutGap="20px" class="navigation-items" *ngIf="optionMenuList2 === 'login'">
  <mat-menu #menuAyuda="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item>Acerca de...</button>
    </ng-template>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menuAyuda">
    <mat-icon>help_outline</mat-icon>
  </button>
</mat-list>

<!-- CUANDO SE CARGA PARA EL DASHBOARD -->
  <mat-list fxLayout fxLayoutGap="20px" class="navigation-items" *ngIf="optionMenuList2 === 'dashboard'" >
    <div *ngFor="let item of itemsMenu">
      <button
        *ngIf="item.label === 'Dashboard'" mat-icon-button
        [routerLink]="item.link">
        <mat-icon>{{ item.icon }}</mat-icon>
      </button>
      <button
        *ngIf="item.items.length > 0 && item.label !== 'Dashboard'"
        mat-button
        [routerLink]="item.link">
        {{item.label}}
      </button>
      <button
        *ngIf="!item.items.length > 0 && item.label !== 'Dashboard'"
        mat-button
        [routerLink]="item.link">
        {{ item.label }}
      </button>
    </div>
  </mat-list>
